.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px; /* Adjust as needed */
  width: 650px;
  padding:5px 5px;
  margin: auto auto;
}

.spinner {
  border: 4px solid rgba(100, 61, 17, 0.1);
  border-left-color: #333333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}