.all-buttons {
    display: flex; 
    height: 45px; 
    width: 100%; 
    cursor: pointer; 
    align-items: center; 
    justify-content: center; 
    border-radius: 5px; 
    border-color: none; 
    background-color: rgb(50,38,24); 
    font-size: 16px; 
    color: rgb(255,255,255); 
    transition: all 0.2s;
    margin: 5px;
    padding: 2px;
}

.all-buttons:hover {
        background-color: #553c21;
    }


.secondary-buttons {
    font-size: 14px; 
    opacity: 0.85;
}