.main-div {
    grid-column: 1/3; 
    grid-row: 1/2; 
    align-items: center; 
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgb(251,245,237); 
    height: 45px;
    min-height: 45px;
    padding: 0 28px;
    font-weight: bold;
}

.logo {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
}

.counter {
    color: #231d15;
    font-size: 18px;
}
