.main-div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-left: 1px solid rgba(0, 0, 0, 0.17);
    background-color: #f9fffa; 
    padding: 18px 25px 28px;

    width: 400px;
    max-width: 400px;
}

.lower-btns {
    margin-top: 0.5rem;
}

 