.input-head {
    font-size: 18px; 
    font-weight: bold; 
    color: rgb(21, 35, 26);
}

.input-area{
    margin-top: 9px; 
    margin-bottom: 9px; 
    margin-left: 0; 
    margin-right: 0; 
    width: 100%; 
    height: 45px;
    border-radius: 5px; 
    border-width: 1px; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 0; 
    padding-bottom: 0; 
    font-size: 14px;
    background: rgb(237, 251, 244);
}