.main-div {
  font-family: sans-serif;
  background-color: #f1d4b3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main-body {
  position: relative; 
  display: flex;
  flex-direction: column; 
  height: 636px; 
  width: 972px; 
  font-family: sans-serif;
  /* grid-template-columns: 7fr 4fr; 
  grid-template-rows: 59px 1fr; */
  overflow: hidden; 
  border-radius: 8px; 
  background-color: rgb(255,255,255);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
}

.todo-area {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 590px;
  padding: 5px 5px;
  margin-bottom: 10px;
}

.background {
  font-size:250px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 17.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}