* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font: inherit;
}

button {
  cursor: pointer;
  font: inherit;
}

body {
  font-family: sans-serif;
  background-color: #f1d4b3;
  overflow: hidden;
  color: #292218;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}